[submodule "medium-editor"]
	path = medium-editor
	url = https://github.com/Jenniferwonder/medium-editor.git
[submodule "js-app/forkify-app"]
	path = js-app/forkify-app
	url = https://github.com/Jenniferwonder/forkify-app.git
[submodule "js-app/bankist-website"]
	path = js-app/bankist-website
	url = https://github.com/Jenniferwonder/bankist-website.git
