*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container {
	width: 40%;
	min-width: 500px;

	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;

	background-color: #141313;

	padding: 60px 0;
	border-radius: 10px;
}
.timeBox {
	position: relative;
	left: -5%;

	width: 110%;

	display: flex;
	align-items: center;
	justify-content: space-around;

	padding: 40px 0;

	font-family: "Roboto mono", monospace;
	color: #ffffff;
	font-size: 40px;

	background: linear-gradient(-135deg, #0048ce, #008bfd);

	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
}
.btnBox {
	width: 80%;
	margin: 60px auto 0 auto;
	display: flex;
	justify-content: space-around;
}
.btnBox button {
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #ffffff;
	color: #141313;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	border-radius: 5px;
	outline: none;
}
