hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
	color: inherit; /* 2 */
	border-top-width: 1px; /* 3 */
}
pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}
b,
strong {
	font-weight: bolder;
}
